[user]
	name = Janko Marohnić
	email = janko.marohnic@gmail.com
[github]
  user = janko
[alias]
  # short and pretty status
  st = status -sb
  aa = add --all
  co = checkout
  lg = "!. ~/bin/git_helpers.sh && pretty_git_log | less -FXRS"
  r = "!. ~/bin/git_helpers.sh && pretty_git_log -15"
  last = "!. ~/bin/git_helpers.sh && pretty_git_log -1"
  ci = commit -S
  rbc = rebase --continue
  rb = rebase
  br = branch
  d = diff
  fixup = commit --amend --reuse-message=HEAD
[color]
  # color the git diff in the shell
  ui = auto
[core]
  # a global .gitignore
  excludesfile = ~/.gitignore
[credential]
  # use mac's keychain for storing credentials
  helper = osxkeychain
[push]
  # like "upstream", but refuses to push if the local and remote
  # branch are named differently
  default = simple
[rebase]
  # use "--autosquash" in "git rebase --interactive"
  autosquash = true
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
