[user]
  name = Janko Marohnić
  email = janko.marohnic@gmail.com
[github]
  user = janko-m
[alias]
  st = status -sb # short and pretty status
  aa = add --all
  co = checkout
  lg = "!. ~/bin/git_helpers.sh && pretty_git_log"
  r = "!git lg -30"
  last = "!git lg -1"
  unstage = reset HEAD --
  ci = commit
  rbc = rebase --continue
  rb = rebase
[branch]
  autosetuprebase = always # automatically rebase when pulling
[color]
  ui = always
[core]
  excludesfile = ~/.gitignore
[credential]
  helper = osxkeychain
