[user]
	name = Janko Marohnić
	email = janko.marohnic@gmail.com
	signingkey = ~/.ssh/id_rsa
[github]
  user = janko
[alias]
  # short and pretty status
  st = status -sb
  aa = add --all
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %s' --abbrev-commit
  r = lg -15
  ci = commit
  nvm = !git reset --hard HEAD && git clean -d -f
  rbc = rebase --continue
  rb = rebase
  br = branch
  d = diff
  fixup = commit --amend --reuse-message=HEAD
[color]
  # color the git diff in the shell
  ui = auto
[core]
  # a global .gitignore
  excludesfile = ~/.gitignore
[credential]
  # use mac's keychain for storing credentials
  helper = osxkeychain
[push]
  # like "upstream", but refuses to push if the local and remote
  # branch are named differently
  default = simple
[rebase]
  # use "--autosquash" in "git rebase --interactive"
  autosquash = true
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
