extends rspec, cucumber

snippet b
	${1}
		{VISUAL}
	end
snippet defi
	def initialize${1}
		${0:# code}
	end
snippet res
	begin
		{VISUAL}
	rescue ${1}
		${0:# rescue}
	end
snippet e
	each do |${1}|
		${0:# code}
	end
snippet E
	each { |${1}| ${0:# code} }
snippet m
	map do |${1}|
		${0:# code}
	end
snippet M
	map { |${1}| ${0:# code} }

snippet t
	test "${1}" do
		${0:# assertions}
	end
