# Jasmine

snippet it
it "$1", ->
	${0:${VISUAL:# assertions}}
endsnippet

snippet des
describe "$1", ->

	${0:${VISUAL:# describe}}
endsnippet

snippet con
context "$1", ->

	${0:${VISUAL:# context}}
endsnippet
